@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

$fontMain: "Marck Script", serif;
//$fontSecondary: "Roboto", serif;
$fontSecondary: "Nunito", serif;
$fontPrimary: "Great Vibes", cursive;